<a href="https://colab.research.google.com/github/prakha10/examII/blob/main/Untitled23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exam-2
#PRATIM KHADKA
#STUDENT iD:267947
#CPSMA-4313-01

In [87]:
import requests
import pandas as pd
import warnings
from bs4 import BeautifulSoup
import numpy as np 
from scipy import stats 
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

#A. Loading dataset in the note book

In [69]:
df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/Activity_Dataset_V1.csv')

df.head()

,Unnamed: 0,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,...,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,...,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,...,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,...,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,...,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,...,NaN,NaN,138.0,166.0,110,7,0,5,21,88

In [70]:
df.dtypes

Unnamed: 0          int64
activity_day       object
workout_type       object
distance          float64
time                int64
calories            int64
total_steps       float64
avg_speed         float64
avg_cadence       float64
max_cadence       float64
avg_pace           object
max_pace           object
min_pace           object
avg_heart_rate    float64
max_heart_rate    float64
min_heart_rate      int64
vo2_max(%)          int64
aerobic(%)          int64
anaerobic(%)        int64
intensive(%)        int64
light(%)            int64
dtype: object

It can be seen that the first column is interger and appropriately read in Dataframe. Activity day is a datetime data but read as object, workout type is apprpriate as it is categorical. 
Distance, avg_speed, avg_cadence, max_cadence, max_pace, bavg_pace, min_pace, avg_heart_rate, max_heart_rate, min_heart_rate, vo2_max(%), aerobic(%), anaerobic(%), intensive(%), light(%) are all floating type however, most of them are loaded as integers and thus not appropriate. Total steps is of integer type but loaded as float format and thus not appropriate.

#B. Removing the unnamed column that repeats the indexes

In [71]:
df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
df

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2022-02-14,Pool Swimming,6.92,101,313,NaN,28.66,173.30,234.73,NaN,NaN,NaN,133.5,175.0,92,22,20,15,21,61
996,2022-02-14,Freestyle,9.48,61,219,NaN,9.23,114.34,109.32,NaN,NaN,NaN,103.0,122.0,84,18,28,2,17,86
997,2022-02-14,Freestyle,3.30,40,169,NaN,7.37,133.97,122.96,NaN,NaN,NaN,114.5,122.0,107,18,28,2,23,98
998,2022-02-14,Indoor Cycling,4.40,47,52,NaN,10.75,147.65,116.51,NaN,NaN,NaN,96.0,90.0,102,45,32,0,13,57
999,2022-02-14,Indoor Cycling,1.57,116,106,NaN,25.37,143.41,182.80,NaN,NaN,NaN,96.5,90.0,103,14,32,0,24,83

In [45]:
df.columns

Index(['activity_day', 'workout_type', 'distance', 'time', 'calories',
       'total_steps', 'avg_speed', 'avg_cadence', 'max_cadence', 'avg_pace',
       'max_pace', 'min_pace', 'avg_heart_rate', 'max_heart_rate',
       'min_heart_rate', 'vo2_max(%)', 'aerobic(%)', 'anaerobic(%)',
       'intensive(%)', 'light(%)'],
      dtype='object')

#C. Removing % character from the columns

In [72]:

df = df.rename(columns=lambda x: re.sub('[(%)]','',x))
df.head()

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max,aerobic,anaerobic,intensive,light
0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88

#D.Activity day to datetime conversion.

In [47]:
 pa.to_datetime(df.activity_day, format='%Y-%m-%d')

0     2022-01-01
1     2022-01-01
2     2022-01-01
3     2022-01-01
4     2022-01-01
         ...
995   2022-02-14
996   2022-02-14
997   2022-02-14
998   2022-02-14
999   2022-02-14
Name: activity_day, Length: 1000, dtype: datetime64[ns]

In [74]:
df.activity_day=pd.to_datetime(df.activity_day, format='%Y-%m-%d')
df

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max,aerobic,anaerobic,intensive,light
0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2022-02-14,Pool Swimming,6.92,101,313,NaN,28.66,173.30,234.73,NaN,NaN,NaN,133.5,175.0,92,22,20,15,21,61
996,2022-02-14,Freestyle,9.48,61,219,NaN,9.23,114.34,109.32,NaN,NaN,NaN,103.0,122.0,84,18,28,2,17,86
997,2022-02-14,Freestyle,3.30,40,169,NaN,7.37,133.97,122.96,NaN,NaN,NaN,114.5,122.0,107,18,28,2,23,98
998,2022-02-14,Indoor Cycling,4.40,47,52,NaN,10.75,147.65,116.51,NaN,NaN,NaN,96.0,90.0,102,45,32,0,13,57
999,2022-02-14,Indoor Cycling,1.57,116,106,NaN,25.37,143.41,182.80,NaN,NaN,NaN,96.5,90.0,103,14,32,0,24,83

#E. Imputing â€˜total stepsâ€™ by replacing the â€˜NaNâ€™s with an appropriate number of steps.

In [75]:
import numpy as np

df['total_steps'] = df['total_steps'].fillna(method='bfill').fillna(method='ffill')
print('Total missing values:',df['total_steps'].isna().sum())

Total missing values: 0

In [76]:
df.total_steps =df.total_steps.replace(np.nan,0)

In [77]:
df = df.convert_dtypes()
df.dtypes

activity_day      datetime64[ns]
workout_type              string
distance                 Float64
time                       Int64
calories                   Int64
total_steps                Int64
avg_speed                Float64
avg_cadence              Float64
max_cadence              Float64
avg_pace                  string
max_pace                  string
min_pace                  string
avg_heart_rate           Float64
max_heart_rate             Int64
min_heart_rate             Int64
vo2_max                    Int64
aerobic                    Int64
anaerobic                  Int64
intensive                  Int64
light                      Int64
dtype: object

In [78]:
df.total_steps

0      1571
1      1571
2      1571
3      1571
4      7618
       ...
995    1571
996    1571
997    1571
998    1571
999    1571
Name: total_steps, Length: 1000, dtype: Int64

# F.Convert non-empty â€˜avg paceâ€™ into a float that is still representative of the information contained in the column.

In [88]:
for i in range(len(df)):
    if not pd.isna(df['avg_pace'][i]):
        df['avg_pace'][i] = float(df['avg_pace'][i].split(sep=':')[1])/60 + int(df['avg_pace'][i].split(sep=':')[0])
    
df['avg_pace'] = df['avg_pace'].astype(float)

ValueError: ignored

In [82]:
df['avg_pace'][0:10]

0     <NA>
1     <NA>
2     <NA>
3    07:58
4     <NA>
5     <NA>
6     <NA>
7    06:44
8    06:48
9     <NA>
Name: avg_pace, dtype: string

#G. Group data by â€˜workout typeâ€™ and find the mean, median, count and standard deviation of â€˜caloriesâ€™.

In [59]:
df.groupby(by='workout_type',as_index=False).mean()[['workout_type','calories']].rename(columns= {'calories':'mean_calories'})

       workout_type  mean_calories
0           Cricket     307.548387
1         Freestyle     278.552083
2    Indoor Cycling         280.45
3        Open Water     296.747253
4   Outdoor Cycling     299.129412
5   Outdoor Running     301.469136
6     Pool Swimming     283.414894
7         Trail Run     267.966667
8         Treadmill     278.142857
9          Trekking      283.12766
10          Walking     276.040816

In [60]:
df.groupby(by='workout_type',as_index=False).count()[['workout_type','calories']].rename(columns= {'calories':'Count_obs'})

       workout_type  Count_obs
0           Cricket         93
1         Freestyle         96
2    Indoor Cycling         80
3        Open Water         91
4   Outdoor Cycling         85
5   Outdoor Running         81
6     Pool Swimming         94
7         Trail Run         90
8         Treadmill         98
9          Trekking         94
10          Walking         98

In [61]:
df.groupby(by='workout_type',as_index=False).std()[['workout_type','calories']].rename(columns= {'calories':'std_calories'})

       workout_type  std_calories
0           Cricket    149.950609
1         Freestyle    163.703768
2    Indoor Cycling    156.633322
3        Open Water    160.068499
4   Outdoor Cycling    158.731263
5   Outdoor Running    165.725080
6     Pool Swimming    157.576703
7         Trail Run    155.748533
8         Treadmill    146.963352
9          Trekking    151.034870
10          Walking    157.287570

In [62]:
df.groupby(by='workout_type',as_index=False).median()[['workout_type','calories']].rename(columns= {'calories':'median_calories'})

       workout_type  median_calories
0           Cricket            330.0
1         Freestyle            294.0
2    Indoor Cycling            306.0
3        Open Water            328.0
4   Outdoor Cycling            301.0
5   Outdoor Running            349.0
6     Pool Swimming            300.0
7         Trail Run            264.0
8         Treadmill            269.5
9          Trekking            280.5
10          Walking            270.5

#H. Creating an indicator column that identifies if the activity achieved 30% or more â€˜aerobicâ€™ activity.

In [63]:
df['activity_aerobic_over_30'] = np.where(df.aerobic > 30, True, False)
df.head()

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,...,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max,aerobic,anaerobic,intensive,light,activity_aerobic_over_30
0,2022-01-01,Freestyle,9.3,77,123,1571,18.88,168.54,138.3,<NA>,...,<NA>,112.5,122,103,19,28,2,7,50,False
1,2022-01-01,Freestyle,3.44,96,55,1571,29.65,125.92,292.81,<NA>,...,<NA>,111.0,122,100,42,28,2,29,88,False
2,2022-01-01,Indoor Cycling,6.34,85,33,1571,17.85,81.93,323.69,<NA>,...,<NA>,95.0,90,100,1,32,0,22,43,True
3,2022-01-01,Walking,7.91,42,82,1571,22.1,29.63,180.16,07:58,...,07:58,83.0,85,81,3,22,0,24,65,False
4,2022-01-01,Open Water,8.99,36,131,7618,25.83,64.55,342.89,<NA>,...,<NA>,138.0,166,110,7,0,5,21,88,False

#I.  Which day of the week (Monday, Tuesday, etc.) and â€˜workout typeâ€˜ has the maximum of the â€˜max cadenceâ€™.

In [84]:
df['DayofWeek'] = df['activity_day'].dt.dayofweek
df['DayofWeek'] = df['DayofWeek'].replace({0:'Monday',1:'Tuesday',2:'Wednesday',3:'Thursday',4:'Friday',\
                                           5:'Saturday',6:'Sunday'})
df[['DayofWeek','workout_type','max_cadence']].sort_values(by='max_cadence',ascending=False)

     DayofWeek   workout_type  max_cadence
726  Wednesday  Pool Swimming       349.78
648   Saturday     Open Water       349.76
894  Wednesday      Treadmill       349.66
570    Tuesday     Open Water       349.39
947   Saturday       Trekking       349.31
..         ...            ...          ...
950   Saturday        Walking        52.18
335   Saturday      Trail Run        51.99
383     Monday       Trekking        51.45
207     Monday     Open Water         51.4
883  Wednesday        Cricket        50.56

[1000 rows x 3 columns]

a) It took about 4 to 5 hours to solve all the above questions using necessary python coding in Jupyter notebook.

b) The hardest topic for this exam is found to be question f as much pre-processing is needed to convert avg_pace to floating type with string operation. This is typically done by a for loop to only convert the non-null values by conditional checking and still could not fix it properly . The easiest topic is storing the dataset as after gathering data from given link just read_csv() function of pandas is needed to load the dataset with no addtional argument except filename.

c) In data cleaning the method in which some time will be spent is using different interpolation methods for imputing the data as this significantly impacts the end results. The more is the provided time for the exam, the more imputation methods can be applied and thus more advanced and accurate pre-processed dataset can be formed for analysis.

#Refrences.
#https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
#https://stackoverflow.com/questions/39815625/python-pandas-index-object-has-no-attribute-hour 
#https://www.geeksforgeeks.org/convert-the-column-type-from-string-to-datetime-format-in-pandas-dataframe/
#https://github.com/prakha10/data-visualization.github.io/blob/main/Untitled21.ipynb
#https://github.com/nurfnick/Data_Viz/blob/main/20_Cleaning_Conclusion.ipynb