<a href="https://colab.research.google.com/github/prakha10/examII/blob/main/Untitled23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np 
from scipy import stats

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/Activity_Dataset_V1.csv')

df.head()

,Unnamed: 0,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,...,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,...,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,...,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,...,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,...,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,...,NaN,NaN,138.0,166.0,110,7,0,5,21,88

In [ ]:
df.dtypes

Unnamed: 0          int64
activity_day       object
workout_type       object
distance          float64
time                int64
calories            int64
total_steps       float64
avg_speed         float64
avg_cadence       float64
max_cadence       float64
avg_pace           object
max_pace           object
min_pace           object
avg_heart_rate    float64
max_heart_rate    float64
min_heart_rate      int64
vo2_max(%)          int64
aerobic(%)          int64
anaerobic(%)        int64
intensive(%)        int64
light(%)            int64
dtype: object

In [ ]:
df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
df

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2022-02-14,Pool Swimming,6.92,101,313,NaN,28.66,173.30,234.73,NaN,NaN,NaN,133.5,175.0,92,22,20,15,21,61
996,2022-02-14,Freestyle,9.48,61,219,NaN,9.23,114.34,109.32,NaN,NaN,NaN,103.0,122.0,84,18,28,2,17,86
997,2022-02-14,Freestyle,3.30,40,169,NaN,7.37,133.97,122.96,NaN,NaN,NaN,114.5,122.0,107,18,28,2,23,98
998,2022-02-14,Indoor Cycling,4.40,47,52,NaN,10.75,147.65,116.51,NaN,NaN,NaN,96.0,90.0,102,45,32,0,13,57
999,2022-02-14,Indoor Cycling,1.57,116,106,NaN,25.37,143.41,182.80,NaN,NaN,NaN,96.5,90.0,103,14,32,0,24,83

In [ ]:
df.columns

Index(['activity_day', 'workout_type', 'distance', 'time', 'calories',
       'total_steps', 'avg_speed', 'avg_cadence', 'max_cadence', 'avg_pace',
       'max_pace', 'min_pace', 'avg_heart_rate', 'max_heart_rate',
       'min_heart_rate', 'vo2_max(%)', 'aerobic(%)', 'anaerobic(%)',
       'intensive(%)', 'light(%)'],
      dtype='object')

In [ ]:
import re
df.columns = df.columns.str.replace('\(*?\)', '')
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max,aerobic,anaerobic,intensive,light
0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2022-02-14,Pool Swimming,6.92,101,313,NaN,28.66,173.30,234.73,NaN,NaN,NaN,133.5,175.0,92,22,20,15,21,61
996,2022-02-14,Freestyle,9.48,61,219,NaN,9.23,114.34,109.32,NaN,NaN,NaN,103.0,122.0,84,18,28,2,17,86
997,2022-02-14,Freestyle,3.30,40,169,NaN,7.37,133.97,122.96,NaN,NaN,NaN,114.5,122.0,107,18,28,2,23,98
998,2022-02-14,Indoor Cycling,4.40,47,52,NaN,10.75,147.65,116.51,NaN,NaN,NaN,96.0,90.0,102,45,32,0,13,57
999,2022-02-14,Indoor Cycling,1.57,116,106,NaN,25.37,143.41,182.80,NaN,NaN,NaN,96.5,90.0,103,14,32,0,24,83

In [ ]:
 pa.to_datetime(df.activity_day, format='%Y-%m-%d')

0     2022-01-01
1     2022-01-01
2     2022-01-01
3     2022-01-01
4     2022-01-01
         ...
995   2022-02-14
996   2022-02-14
997   2022-02-14
998   2022-02-14
999   2022-02-14
Name: activity_day, Length: 1000, dtype: datetime64[ns]

In [ ]:
df.activity_day=pa.to_datetime(df.activity_day, format='%Y-%m-%d')
df

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max,aerobic,anaerobic,intensive,light
0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2022-02-14,Pool Swimming,6.92,101,313,NaN,28.66,173.30,234.73,NaN,NaN,NaN,133.5,175.0,92,22,20,15,21,61
996,2022-02-14,Freestyle,9.48,61,219,NaN,9.23,114.34,109.32,NaN,NaN,NaN,103.0,122.0,84,18,28,2,17,86
997,2022-02-14,Freestyle,3.30,40,169,NaN,7.37,133.97,122.96,NaN,NaN,NaN,114.5,122.0,107,18,28,2,23,98
998,2022-02-14,Indoor Cycling,4.40,47,52,NaN,10.75,147.65,116.51,NaN,NaN,NaN,96.0,90.0,102,45,32,0,13,57
999,2022-02-14,Indoor Cycling,1.57,116,106,NaN,25.37,143.41,182.80,NaN,NaN,NaN,96.5,90.0,103,14,32,0,24,83

In [ ]:
import numpy as np

df.total_steps.replace(np.nan,0)

0         0.0
1         0.0
2         0.0
3      1571.0
4         0.0
        ...
995       0.0
996       0.0
997       0.0
998       0.0
999       0.0
Name: total_steps, Length: 1000, dtype: float64

In [ ]:
df.total_steps =df.total_steps.replace(np.nan,0)

In [ ]:
df = df.convert_dtypes()
df.dtypes

activity_day      datetime64[ns]
workout_type              string
distance                 Float64
time                       Int64
calories                   Int64
total_steps                Int64
avg_speed                Float64
avg_cadence              Float64
max_cadence              Float64
avg_pace                  string
max_pace                  string
min_pace                  string
avg_heart_rate           Float64
max_heart_rate             Int64
min_heart_rate             Int64
vo2_max                    Int64
aerobic                    Int64
anaerobic                  Int64
intensive                  Int64
light                      Int64
dtype: object

In [ ]:
df.total_steps

0         0
1         0
2         0
3      1571
4         0
       ...
995       0
996       0
997       0
998       0
999       0
Name: total_steps, Length: 1000, dtype: Int64

ValueError: ignored